@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: var(--font-color);
    background-color: var(--void);
}

main {
    display: grid;
    grid-template-rows: var(--header-height) auto var(--foother-height);
    grid-template-columns: auto var(--aside-width);

    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    
    background-color: var(--background);
    box-shadow: 0 0 40px var(--shadow-color);
}

header, section#content article {
    padding: 0 var(--aside-width);
}

header {
    grid-row: 1/2;
    grid-column: 1/3;

    width: 100%;
    height: var(--header-height);
    padding-right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    
    z-index: 1;
    box-shadow: 0 0 20px var(--shadow-color);
    clip-path: inset(0 0 -20px 0);

    border-bottom: 2px solid var(--border-color);
}

header .page-title {
    height: 100%;

    padding: calc(var(--header-height) / 8) 0;
    
    color: var(--font-color);
    text-decoration: none;
    font-size: calc(var(--header-height) * 0.5);
}

nav {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: right;
}

nav a {
    text-decoration: none;
    color: var(--font-color);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

nav a p {
    display: flex;
    align-items: center;

    width: max-content;
    height: calc(var(--header-links-size-factor) * 100%);
    padding: 0 calc(var(--header-links-size-factor) * 30px);
    margin: 0 calc(var(--header-height) * var(--header-links-size-factor) / 4);
    
    background-color: var(--acrylic-gray-1);
    box-shadow: 0 0 10px var(--shadow-color);
    border: 2px solid var(--border-color);
    border-radius: calc(var(--header-height) / 2 * var(--header-links-size-factor));

    transition: border-radius 0.25s ease-in-out;
}

nav a:hover p {
    background-color: var(--acrylic-gray-2);
    border-radius: calc(var(--header-height) / 2 * var(--header-links-size-factor) * 0.7);
}

button#menu {
    
    width: var(--aside-width);
    height: 100%;

    background-color: transparent;
    color: var(--font-color);
    border: 0;
}

button#menu span {
    font-size: calc(var(--header-height) / 2);

    border-radius: calc(var(--header-height) / 2 * var(--header-links-size-factor));
}

section#content {
    grid-row: 2/3;
    grid-column: 1/3;
}

section#content article {

}

section#content article > h1 {

}

section#content article > p {

}

article#hero {
    display: flex;
    align-items: center;

    aspect-ratio: 16/6;

    background-image: url(../images/backgrounds/stacked-dark-blue.svg);
    background-size: cover;
}

article#hero > h1 {
    height: 100%;
    width: 100%;
    padding-top: 10%;

    font-family: 'Mr Dafoe', cursive;
    font-size: min(calc(1920px * 0.15), 15vw);
    text-align: center;

    background-image: url(../images/backgrounds/stacked-dark-blue.svg);
}

article#article1 {
    background-image: url(../images/backgrounds/blob-pink-dark.svg);
}

article#article2 {

}

article#article3 {
    
}

article#article4 {
    
}

article.blob {
    aspect-ratio: 16/8;
    padding: 25% 35%;

    background-position: center;
    background-size: cover;
}

.spacer {
    width: 100%;
    aspect-ratio: 16/1;
    margin: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: transparent;
}

#spacer1 {
    background-image: url(../images/transitions/dark-blue-to-light.svg)
}

#spacer2 {
    background-image: url(../images/transitions/light-to-dark-blue.svg)
}

#spacer3 {

}

#spacer4 {

}

footer {
    grid-row: 3/4;
    grid-column: 1/3;
}

aside#page-navigation {
    grid-row: 2/4;
    grid-column: 2/3;

    position: sticky;
    right: 0;
    top: var(--header-height);

    height: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--border-color);
    border-right: 0;
    border-top: 0;
    border-bottom-left-radius: calc(var(--aside-width) / 2);

    box-shadow: 0 0 20px var(--shadow-color);
    clip-path: inset(0 0 -20px -20px);
}

aside#page-navigation button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: calc(var(--aside-width) / 16) 0;
    /* margin-bottom: calc(var(--aside-width) / 8); */

    background-color: transparent;
    border: 0;
}

aside#page-navigation button:first-of-type {
    padding-top: calc(var(--aside-width) / 8);
}

aside#page-navigation button:last-of-type {
    padding-bottom: calc(var(--aside-width) / 8);
    border-bottom-left-radius: calc(var(--aside-width) / 2);
}

aside#page-navigation button:hover span {
    background-color: var(--acrylic-gray-2);
    border-radius: 35%;
}

aside#page-navigation button span {
    background-color: var(--acrylic-gray-1);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--shadow-color);

    color: var(--font-color);
    font-size: calc(var(--aside-width) * var(--aside-button-scale) * 0.75);
    text-align: center;

    width: calc(var(--aside-width) * var(--aside-button-scale));
    aspect-ratio: 1/1;
    padding-top: 4px;

    transition: border-radius 0.25s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    #spacer1 {
        background-image: url(../images/transitions/dark-blue-to-dark.svg)
    }

    #spacer2 {
        background-image: url(../images/transitions/dark-to-dark-blue.svg)
    }
}

@media screen and (max-width: 780px) {
    * {
        display: none;
    }
}